# npm
dist
web
node_modules
vega/assets/web
vega/build
vega/buildinfo.json
vega/bundle
vega/kepler-build

# test coverage
coverage

# config
config.json

# ide
.idea
.vs

# vim
*.sw?

# direnv
.direnv/

# environment related
.envrc
