.originalLyricsFileLabel {
    margin-right: 1em;
}

.lyricsFeaturePillow {
    background: var(--jf-palette-primary-main, #4d5fff);
    color: var(--jf-palette-primary-contrastText, #fff);
    padding: 0.3em 1em;
    border-radius: 1000em;
    margin-right: 0.25em;
}
