$common-white: #fff;
$background-default: #05050a;
$background-paper: #12121c;
$primary-main: #4d5fff;
$primary-dark: #4050da;
$primary-light: #925cff;
$primary-hover: rgba(146, 92, 255, 0.11);
$primary-contrastText: #fff;
$error-main: #c62828;
$error-dark: #8a1c1c;
$error-light: #d15353;
$error-contrastText: #fff;
$text-primary: #f4f1ea;
$text-secondary: #9d9ba6;
$action-focus: rgba(98, 223, 255, 0.13);
$action-hover: rgba(244, 241, 234, 0.075);
$divider: rgba(244, 241, 234, 0.09);
