/* Import the base theme */
@use '../_base/theme';

/* Card background color variants */
.defaultCardBackground1 {
    background-color: #132d43;
}

.defaultCardBackground2 {
    background-color: #15506a;
}

.defaultCardBackground3 {
    background-color: #14627a;
}

.defaultCardBackground4 {
    background-color: #1a354b;
}

.defaultCardBackground5 {
    background-color: #16435a;
}

/* Detail ribbon on item details pages */
.detailRibbon {
    background: rgba(var(--jf-palette-background-paperChannel, 32 32 32) / 0.8);

    .layout-tv & {
        background: none;
    }
}
