.iconOsd {
    position: fixed;
    top: 7%;
    right: 3%;
    z-index: 100000;
    background: #101019;
    background: rgba(16, 16, 25, 0.94);
    padding: 1em;
    color: #fff;
    backdrop-filter: blur(5px);
    border: 0.06em solid rgba(244, 241, 234, 0.16);
    border-radius: 0.55em;
    transition: opacity 200ms ease-out;
}

.iconOsd-hidden {
    opacity: 0;
}

.iconOsdIcon {
    font-size: 320%;
    display: block;
    margin: 0.25em 0.7em;
}

.iconOsdProgressOuter {
    margin: 1.5em 0.25em 1em;
    height: 0.35em;
    background: #181824;
    border-radius: 0.25em;
}

.iconOsdProgressInner {
    background: var(--jf-palette-primary-main, #4d5fff);
    height: 100%;
    border-radius: 0.25em;
}

.brightnessOsdProgressInner {
    background: #ff9800;
}
